@tailwind base;
@tailwind components;
@tailwind utilities;
.arrow-white {
    transform: scale(1.6);
}

.vid-btn-white:hover {
    outline: none;
    box-shadow: 0 0 0 1px #fff;
}

.vid-btn-white:active {
    outline: none;
    background: #ccc;
    background-clip: padding-box;
    box-shadow: 0 0 0 1px #ccc;
}

.arrow-blue {
    transform: scale(1.6);
}

.vid-btn-blue {
    background: #2d64e6;
}

.vid-btn-blue:hover {
    outline: none;
    box-shadow: 0 0 0 1px #2d64e6;
}

.vid-btn-blue:active {
    outline: none;
    background: #123b9b;
    background-clip: padding-box;
    box-shadow: 0 0 0 1px #123b9b;
}