.learnmore:hover{
    text-decoration: underline;
}
.coll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.theheader{
    margin-top: 200px;
    background-color: white;
    opacity: 0.8;
    width: 900px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}