@tailwind base;
@tailwind components;
@tailwind utilities;
.banner-content{
    position: absolute;
    width:100%;
    top:35%;
    justify-content: center;
}
.layer{
    margin:1.5%;
}
.caption{
    position:relative;
    color:white;
    max-width:45%;
    text-align: left;
    padding-left: 8%;
    font-size: 2rem;
}
.llt{
    font-size: 0.75rem;
    max-width: 95%;
}
.banner{
    display:flex;
    justify-content: center;
    margin:0;
    padding:0;
}
.seclayer{
    font-size: 2rem;
}
.fetm{
    -webkit-animation: fadein 2s;
       -moz-animation: fadein 2s;
        -ms-animation: fadein 2s;
         -o-animation: fadein 2s;
            animation: fadein 2s;
}
.ui_layout{
    display:flex;
    align-items: center;
    justify-content: center;
}
h2{
    padding:1%;
}
p{
    padding:0.5%;
}
@keyframes fadein {
    from { opacity: 0.93; 
            width:150;}
    to   { opacity: 1; 
        width:100;}
}