@tailwind base;
@tailwind components;
@tailwind utilities;
#tab1 {
    animation: lToR 0.4s;
}

#tab2 {
    animation: rToL 0.4s;
}

@keyframes lToR {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes rToL {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
